.navbar {
    background-color: lightgrey;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 120px;
}

.navbar h1 {
    margin: 20px 10px;
    background-color: red;
}